<!-- creating a tags and rendering posts as they come in -->
<div class="mainContainer">
    <div class="imageHolder">





    <% posts.forEach((post, i) => { %>
        <% if(post.url) { %>
        <div class="card urlCard">
            <div class="card-image waves-effect waves-block waves-light activator postURL">
                <img class="activator urlImage" src="<%= post.url %>">
            </div>
            <div class="card-reveal">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">close</i></span>
                </div>
                <button class="btn editBtn">
                    <a class="modal-trigger content"  href="#<%= i %>" data-id=" <%= post.id %> ">EDIT</a>
                </button>
                    <br>
                    <br>
                <div class="icons">
                    <div class="left-align urlFlag" >
                        <form action="/<%= post.id %>?_method=PUT" method="POST" autocomplete="off" >
                            <p>
                                <label>
                                  <input name="flag" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox" />
                                  <span><i class="material-icons ">flag</i> <%= post.flag %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit" ><i class="material-icons ">flag</i> <%= post.flag %></button> -->
                        </form>
                    </div>
                    <div class="right-align urlLike" > 
                        <form action="/<%= post.id %>?_method=PUT" method="POST" autocomplete="off" >
                            <p>
                                <label>
                                  <input name="likes" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox" />
                                  <span><i class="material-icons ">favorite_border</i> <%= post.likes %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit"><i class="material-icons">favorite_border</i> <%= post.likes %></button> -->
                        </form>
                    </div>
                </div>
                <hr>
                <div>
                    <p><%= post.caption %></p>
                </div>
            </div>
        </div>   
        
        





    <% } else if (post.text) { %>
        <div class="card textCard activator">
            <div class="card-image waves-effect waves-block waves-light activator postText">
                <div class="activator textDisplayDiv">
                    <span class="activator textDisplaySpan"> <%= post.text %> </span>
                </div>
            </div>
            <div class="card-reveal cardRevText">
                <div class="card-content cardContText">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">close</i></span>
                </div>
                <button class="btn editBtn left-align">
                    <a class="modal-trigger content editButtonText" href="#<%= i %>" data-id=" <%= post.id %> ">EDIT</a>
                </button>
                <br>
                <br>
                <div class="icons">
                    <div class="left-align div textFlagMainDiv" >
                        <form method="POST" autocomplete="off" action="/<%= post.id %>?_method=PUT"> 
                            <p>
                                <label>
                                  <input name="flag" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox" />
                                  <span><i class="material-icons ">flag</i> <%= post.flag %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit" class="test2"> <input type="checkbox" checked="checked" /><i class="material-icons ">flag</i> <%= post.flag %></button> -->
                        </form>
                    </div>
                    <div class="right-align textLikeMainDiv"> 
                        <form method="POST" autocomplete="off" action="/<%= post.id %>?_method=PUT">
                            <p>
                                <label>
                                  <input name="likes" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox" />
                                  <span><i class="material-icons ">favorite_border</i> <%= post.likes %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit"><i class="material-icons">favorite_border</i> <%= post.likes %></button> -->
                        </form>
                    </div>
                </div>
                <hr>
                <div>
                    <p><%= post.caption %></p>
                </div>
                
            </div>
        </div>   
    









    <% } else if (post.upload === true) { %>
        <div class="card activator uploadCard">
            <div class="activator card-image waves-effect waves-block waves-light postUpload">
                <img class="activator" src="data:image/<%=post.imageUpload.contentType%>;base64,<%=post.imageUpload.data.toString('base64')%>">
            </div>
            <div class="card-reveal cardRevUpload">
                <div class="card-content cardContUpload">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">close</i></span>
                </div>
                <button class="btn editBtn">
                    <a class="modal-trigger content editButtonUpload" href="#<%= i %>" data-id=" <%= post.id %> ">EDIT</a>
                </button>
                <br>
                <br>
                <div class="icons">
                    <div class="left-align uploadFlagMainDiv">
                        <form method="POST" autocomplete="off" action="/<%= post.id %>?_method=PUT">
                            <p>
                                <label>
                                  <input name="flag" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox"  />
                                  <span><i class="material-icons ">favorite_border</i> <%= post.flag %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit" ><i class="material-icons ">flag</i> <%= post.flag %></button> -->
                        </form>
                    </div>
                    <div class="right-align uploadLikeMainDiv"> 
                        <form method="POST" autocomplete="off" action="/<%= post.id %>?_method=PUT">
                            <p>
                                <label>
                                  <input name="likes" id="indeterminate-checkbox" onChange="this.form.submit()" type="checkbox" />
                                  <span><i class="material-icons ">favorite_border</i> <%= post.likes %></span>
                                </label>
                            </p>
                            <!-- <button style="background-color: white; border: none;"type="submit"><i class="material-icons">favorite_border</i> <%= post.likes %></button> -->
                        </form>
                    </div>
                </div>
                <hr>
                <div>
                    <p><%= post.caption %></p>
                </div>
            </div>
        </div>  
        <!-- <a class=" modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><img class="uploadContent" src="data:image/<%=post.imageUpload.contentType%>;base64,<%=post.imageUpload.data.toString('base64')%>"> </a> -->
        <% } %>
    <% }) %>
    </div>
    
    






    <!-- creating modal for all incoming media to adopt for editing deleting and flag counter -->
    <% posts.forEach((post, i) => { %>
    <div id="<%= i %>" class="modal updateModal">
        <form id="test" class="modal-content editMenu" action="/<%= post.id %>?_method=PUT" method="POST" autocomplete="off">
            <input type="text" name="text" value="<%= post.text %>" id="text"> 
            <label for="text">Edit Text:</label>
            <input type="text" name="url" value="<%= post.url %>" id="url">
            <label for="url">Edit Media URL:</label>
            <input type="text" name="caption" value="<%= post.caption %>" id="caption"> 
            <label for="caption">Edit Caption:</label>
            <br>
            <br>
            <div class="center">
                <button type="submit" class="btn updateButton">Update</button>
            </div>
        </form>
        <form class="modal-content deleteForm" action="/<%= post.id %>?_method=DELETE" method="POST" autocomplete="off"> 
            <div class="right-align">
                <button type="submit" class="btn deleteBtn"><i class="material-icons">delete_forever</i></button>
            </div>
        </form>
    </div>
</div>
    <% }) %>

    <script>
        document.addEventListener('DOMContentLoaded', function() { 
            var elems = document.querySelector('.modal');
            var instances = M.Modal.init(elems, {});
            
        });
    </script>


<%- include('../partials/create.ejs') %>






