<!-- creating a tags and rendering posts as they come in -->
<div class="mainContainer">
    <div class="imageHolder">
    <% posts.forEach((post, i) => { %>
        <% if(post.url) { %>
        <a class="modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><img class="imageContent" src=" <%= post.url %>" alt=""></a>
    <% } else if (post.text) { %>
        <a class=" modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><span class="textContent"> <%= post.text %> </span></a>
    <% } else if (post.upload === true) { %>
        <a class=" modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><img class="uploadContent" src="data:image/<%=post.imageUpload.contentType%>;base64,<%=post.imageUpload.data.toString('base64')%>"> </a>
        <% } %>
    <% }) %>
    </div>
    
    <!-- creating modal for all incoming media to adopt for editing deleting and flag counter -->
    <% posts.forEach((post, i) => { %>
    <div id="<%= i %>" class="modal updateModal"  >
        <form id="test" class="modal-content" action="/<%= post.id %>?_method=PUT" method="POST" >
            <label for="text">Edit Text:</label>
            <input type="text" name="text" value="" id="text"> 
            <label for="url">Edit Media URL:</label>
            <input type="text" name="url" id="url">
            <p>
              <label>
                <input type="checkbox" class="filled-in" name="flag"/>
                <span for="flag"><i class="material-icons">flag</i> <%= post.flag %> </span>
              </label>
            </p>
            <button type="submit" class="btn">Update</button>
        </form>
   
        <form class="modal-content" action="/<%= post.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn deleteBtn">Delete</button>
        </form>
    </div>
</div>
    <% }) %>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelector('.modal');
            var instances = M.Modal.init(elems, {});
            
        });
    </script>


<%- include('../partials/create.ejs') %>






