<div class="mainContainer">

<% posts.forEach((post, i) => { %>
    <% if(post.url) { %>
    <a class="modal-trigger" href="#<%= i %>" data-id=" <%= post.id %> "><img src=" <%= post.url %>" alt=""></a>
   <% } else if(post.text) { %>
    <a class=" modal-trigger" href="#<%= i %>" data-id=" <%= post.id %> "><span> <%= post.text %> </span></a>
   <% } %>
<% }) %>
</div>


<% posts.forEach((post, i) => { %>
<div id="<%= i %>" class="modal"  >
    <form id="test" class="modal-content" action="/<%= post.id %>?_method=PUT" method="POST" >
        <label for="text">Edit Text:</label>
        <input type="text" name="text" value="" id="text"> 
        <label for="url">Edit Media URL:</label>
        <input type="text" name="url" id="url">
        <input type="submit" class="btn" name="Edit" id="submit" value="Update">
    </form>
    <form class="modal-content" action="/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn">Delete</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelector('.modal');
    var instances = M.Modal.init(elems, {});

});
</script>

<% }) %>




<%- include('../partials/create.ejs') %>



