<!-- creating a tags and rendering posts as they come in -->
<div class="mainContainer">
    <div class="imageHolder">
    <% posts.forEach((post, i) => { %>
        <% if(post.url) { %>
        <a class="modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><img class="imageContent" src=" <%= post.url %>" alt=""></a>
    <% } else if (post.text) { %>
        <a class=" modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><div class="textContainer"><span class="textContent"> <%= post.text %> </span></div></a>
    <% } else if (post.upload === true) { %>
        <a class=" modal-trigger content" href="#<%= i %>" data-id=" <%= post.id %> "><img class="uploadContent" src="data:image/<%=post.imageUpload.contentType%>;base64,<%=post.imageUpload.data.toString('base64')%>"> </a>
        <% } %>
    <% }) %>
    </div>
    
    <!-- creating modal for all incoming media to adopt for editing deleting and flag counter -->
    <% posts.forEach((post, i) => { %>
    <div id="<%= i %>" class="modal updateModal"  >
        <form id="test" class="modal-content" action="/<%= post.id %>?_method=PUT" method="POST" autocomplete="off">
            <input type="text" name="caption" value="<%= post.caption %>" id="caption"> 
            <label for="caption">Edit Caption:</label>
            <input type="text" name="text" value="" id="text"> 
            <label for="text">Edit Text:</label>
            <input type="text" name="url" id="url">
            <label for="url">Edit Media URL:</label>
            <br>
            <br>
            <p class="right">
              <label>
                <input type="checkbox" class="filled-in" name="flag"/>
                <span for="flag"><i class="material-icons">flag</i> <%= post.flag %> </span>
              </label>
            </p>
            <p>
            <label>
                <input type="checkbox" class="filled-in" name="likes"/>
                <span for="likes"><i class="material-icons">favorite</i> <%= post.likes %> </span>
            </label>
            </p>
            <div class="center">
                <button type="submit" class="btn updateButton">Update</button>
            </div>
        </form>
        <form class="modal-content" action="/<%= post.id %>?_method=DELETE" method="POST" autocomplete="off"> 
            <div class="center">
                <button type="submit" class="btn deleteBtn">Delete</button>
            </div>
        </form>
    </div>
</div>
    <% }) %>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelector('.modal');
            var instances = M.Modal.init(elems, {});
            
        });
    </script>


<%- include('../partials/create.ejs') %>






